---
import PortfolioItem from './PortfolioItem.jsx'
---

<style>
.container {
    padding: 3rem 0;

    width: min(100%, 68ch);

    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;

    transition: all .3s ease;
}

@media screen and (max-width: 768px) {

    .container {
        grid-gap: 10px;
    }

}
</style>

<h2>Professional Info</h2>
<div class="container">

    <PortfolioItem 
        title="Class 7" 
        content="Technical Director & Software Consultant." 
        link="https://class7.consulting" 
        imgUrl="/assets/portfolio/Class 7.png" 
    client:load/>

    <!-- Perhaps this should be a page on class7.consulting... -->
    <PortfolioItem 
        title="Loki" 
        content="A marine underwriting system for the 21st century." 
        link="#"
        imgUrl="/assets/portfolio/Loki.png" 
    client:load/>

    <PortfolioItem 
        title="SHINC" 
        content="Website services, hosting and domain management." 
        link="https://shinc-underwriting.com/"
        imgUrl="/assets/portfolio/SHINC.png" 
    client:load/>

    <PortfolioItem 
        title="JTC" 
        content="Software consulting, website design, and techinical lead." 
        link="https://jacktradescards.com" 
        imgUrl="/assets/portfolio/JackTradesCards.png" 
    client:load/>

    <PortfolioItem 
        title="Box Of Frogs" 
        content="Software consulting & algorithmic development." 
        link="#" 
        imgUrl="/assets/portfolio/Box Of Frogs.png" 
    client:load />

    <PortfolioItem 
        title="Contact Me!" 
        content="If you've got something for me do get in touch." 
        link="#"
        imgUrl="/assets/portfolio/+.svg" 
    client:load/>

    <PortfolioItem client:load/>
    <PortfolioItem client:load/>
    <PortfolioItem client:load/>
</div>

<h2>Personal</h2>
<div class="container">

    <PortfolioItem 
        title="Rotate Screen" 
        content="Open source python project with 1.5k+ monthly downloads." 
        link="https://github.com/danny-burrows/rotate-screen" 
        imgUrl="/assets/portfolio/Rotate Screen.png" 
    client:load />

    <PortfolioItem 
        title="img_to_txt"
        content="Utility that converts images into ASCII or ANSI text. " 
        link="https://github.com/danny-burrows/img_to_txt" 
        imgUrl="/assets/portfolio/img_to_txt.png" 
    client:load />

    <PortfolioItem 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/portfolio/jorOnline.png" 
    client:load/>

    <PortfolioItem 
        title="CMDUI" 
        content="A GUI framework for Windows CMD in Python." 
        link="https://github.com/danny-burrows/CMDUI" 
        imgUrl="/assets/portfolio/CMDUI.png" 
    client:load />

    <PortfolioItem 
        title="Cmacs" 
        content="Emacs-inspired text editor in C." 
        link="#"
        imgUrl="/assets/portfolio/Cmacs.png"
    client:load/>

    <PortfolioItem 
        title="Want more?" 
        content="Click here to see my GitHub for more details!" 
        link="https://github.com/danny-burrows"
        imgUrl="/assets/portfolio/next.svg"
    client:load/>

    <PortfolioItem client:load/>
    <PortfolioItem client:load/>
    <PortfolioItem client:load/>
</div>
