---
import PortfolioItem from './PortfolioItem.jsx'
---

<style>
.container {
    padding: 3rem 0;

    width: min(100%, 68ch);

    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;

    transition: all .3s ease;
}

@media screen and (max-width: 768px) {

    .container {
        grid-gap: 10px;
    }

}
</style>

<h2>Professional Ventures</h2>
<div class="container">

    <PortfolioItem 
        ids="thng-1" 
        title="Class 7" 
        content="Website & Full stack web application." 
        link="https://class7.consulting" 
        imgUrl="/assets/class7.png" 
    client:load/>

    <!-- Perhaps this should be a page on class7.consulting... -->
    <PortfolioItem 
        ids="thng-2" 
        title="Loki" 
        content="A professional marine underwriting system for the 21st century." 
        link="#"
        imgUrl="/assets/loki-logo.svg" 
    client:load/>

    <PortfolioItem 
        ids="thng-3" 
        title="SHINC" 
        content="A chat app with a custom websocket server." 
        link="https://shinc-underwriting.com/"
        imgUrl="/assets/shinc-website-screenshot.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-4" 
        title="JTC" 
        content="Website design and hosting." 
        link="https://jacktradescards.com" 
        imgUrl="/assets/jtc-logo.svg" 
    client:load/>

    <PortfolioItem 
        ids="thng-5" 
        title="Box Of Frogs" 
        content="A GUI Framework in CMD." 
        link="https://github.com/danny-burrows/CMDUI" 
        imgUrl="/assets/box-of-frogs-logo.png" 
    client:load />

    <PortfolioItem 
        ids="thng-6" 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/joronline.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-7" 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/joronline.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-8" 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/joronline.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-9" 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/joronline.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-10" 
    client:load/>

    <PortfolioItem 
        ids="thng-11" 
    client:load/>

    <PortfolioItem 
        ids="thng-12" 
    client:load/>

</div>

<h2>Personal Projects</h2>
<p>See more <a href="https://github.com/danny-burrows">on github</a>.</p>
<div class="container">

    <PortfolioItem 
        ids="thng-13" 
        title="Rotate Screen" 
        content="A GUI Framework in CMD." 
        link="https://github.com/danny-burrows/rotate-screen" 
        imgUrl="/assets/cmdui.png" 
    client:load />

    <PortfolioItem 
        ids="thng-14" 
        title="Loglens" 
        content="A GUI Framework in CMD." 
        link="https://github.com/danny-burrows/CMDUI" 
        imgUrl="/assets/cmdui.png" 
    client:load />

    <PortfolioItem 
        ids="thng-15" 
        title="img_to_txt" 
        content="A GUI Framework in CMD." 
        link="https://github.com/danny-burrows/CMDUI" 
        imgUrl="/assets/cmdui.png" 
    client:load />

    <PortfolioItem 
        ids="thng-16" 
        title="CMDUI" 
        content="A GUI Framework in CMD." 
        link="https://github.com/danny-burrows/CMDUI" 
        imgUrl="/assets/cmdui.png" 
    client:load />

    <PortfolioItem 
        ids="thng-17" 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/joronline.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-18" 
        title="jorOnline" 
        content="A chat app with a custom websocket server." 
        link="https://github.com/danny-burrows/jorOnline"
        imgUrl="/assets/joronline.png" 
    client:load/>

    <PortfolioItem 
        ids="thng-19" 
    client:load/>

    <PortfolioItem 
        ids="thng-20" 
    client:load/>

    <PortfolioItem 
        ids="thng-21" 
    client:load/>
</div>