---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Banner from '../components/Banner.astro';
import Blog from '../components/blog/Blog.jsx'

let title = 'Blog Posts &bull; Danny Burrows';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;500;600&display=swap" rel="stylesheet"> 

    <style>
        main {
            display: flex;
            align-items:center;
            flex-direction: column;
            width: 100%;     
        }
    </style>
</head>
<body>
    <main>
        <Header />

        <Banner>🚧 This site is still under construction! :-) 🚧</Banner>
        
        <Blog client:load/>
      
        <Footer />
    </main>
</body>
</html>
