---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import Banner from '../components/Banner.astro'
import AboutMe from '../components/AboutMe.astro'
import Slider from '../components/slider/Slider.astro' 
import Portfolio from '../components/portfolio/Portfolio.astro'

const title = 'Danny Burrows • Software Engineer';
const description = 'Hello, I'm Danny. I'm part of the HPC Engineering Team at Altos Labs and the Technical Director of Class 7 Consulting. I love writing efficient and robust software to solve complex and interesting problems. Get in touch if you need software expertise.';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;500;600&display=swap" rel="stylesheet"> 

    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content="https://dannyburrows.com/favicon.svg">
    <meta property="og:url" content="https://dannyburrows.com">

    <style>
        main {
            display: flex;
            align-items:center;
            flex-direction: column;
            width: 100%;     
        }
    </style>
</head>
<body>
    <main>
        <Header />

        <AboutMe />

        <Slider />
        
        <Portfolio />

        <Footer />
    </main>
</body>
</html>
