<style>
a {
    color: #e4a056;
    font-weight: 800;
    text-decoration: none;
    background: 
    linear-gradient(to right, var(--background-color), var(--background-color)),
    linear-gradient(to right, var(--accent-color-2), var(--accent-color-2));
    background-size: 100% 0.15em, 0 0.15em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
a:hover,
a:focus {
    background-size: 0 0.15em, 100% 0.15em;
}
a:active {
    color: #333;
}

article {
    padding-top: 2em;
    line-height: 1.5;
    max-width: min(100%, 68ch);
}
section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

pre,
code {
    font-family: var(--font-mono);
    background: var(--background-vibe);
    border-radius: 4px;
}

pre {
    padding: 1em 1.5em;
}

.tree {
    line-height: 1.2;
}

code:not(.tree) {
    padding: 0.125em;
    margin: 0 -0.125em;
}
</style>

<article>
    <section>
        <h2>Hello, I'm Danny.</h2>
        <p>
            I'm part of the HPC Engineering Team <a href="https://altoslabs.com">@Altos Labs</a> and the Technical Director of <a href="https://class7.consulting">Class 7 Consulting</a>.
        </p>
        <p>
            I have a deep passion for writing efficient and robust software to solve complex and interesting problems. <a href="https://github.com/danny-burrows">My GitHub</a> is home to a few free and open-source projects, like <a href="https://github.com/danny-burrows/rotate-screen"><code>rotate-screen</code></a>; which has been featured in <a href="https://www.geeksforgeeks.org/build-an-application-for-screen-rotation-using-python/">articles in GeeksforGeeks</a>.
        </p>
        <p>
            As someone who loves Open Source, I love contributing to great projects, be it <a href="https://github.com/withastro/astro/pull/823">documentation for the Astro framework</a> or <a href="https://github.com/ratatui/ratatui/pull/596">bugfixes in the popular Rust crate Ratatui</a>.
        </p>
        <p>
            At <a href="https://class7.consulting">Class 7 Consulting</a> I have the pleasure of building full-stack web applications like <a href="#">Loki</a>, the marine insurance underwriting software. I also architect IT solutions and develop promotional websites for businesses across the UK. My clients include startups and established companies in industries such as finance, insurance, and retail.
        </p>
        <p>
            Please get in touch via my <a href="https://www.linkedin.com/in/danny-burrows/">LinkedIn</a> if you need software expertise.
        </p>
        <h3>Technologies I'm experienced in:</h3> 
    </section>
</article>
