<style>
footer {
    display: flex;

    width: 100%;
    font-size: x-large;
    gap: 1em;
    padding: 3rem;
    max-width: min(100%, 68ch);
}
a {
    margin: auto;
    color: var(--text-color);
    transition: all ease-out .15s;
}
a:hover {
    color: var(--accent-color);
}
a:active {
    color: #888;
}
</style>

<footer>
    <a href="https://github.com/danny-burrows"><i class="fab fa-github-square"></i></a>
    <a href="https://www.facebook.com/dan.burrows.56808"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/Dan76979127"><i class="fab fa-twitter-square"></i></a>
</footer>