.postBody {
    position: relative;
    padding: 10px 15px;
    background-color: var(--background-color-light);
    border-radius: 10px;

    border: solid #ffffff11 1px;
    box-shadow: 0 0 .7ch #ffffff11;
}

.postBody:before {
    top: 0;
    right: 0;
    position: absolute;
    content: attr(data-before);
    padding: 10px;
    background-color: #ffffff11;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.postBody img {
    margin-bottom: 0;
    max-width: 100%;
    border-radius: 10px;
}

.postBody h3 {
    margin-top: 3ch;
    margin-bottom: -.5ch;
}

.postBody * {
    margin: 2ch 0;
}

.postTitle {
    font-size: 3ch;
    margin-bottom: 1ch;
    margin-right: 5.3ch;
    margin-top: 0 !important;
}