---
import SliderObj from './SliderItem.astro'
import AstroSliderObj from './AstroSliderItem.astro'
---
<style>
/* Carosel */
@keyframes scroll {
  0% {
    transform: translateX(100vw);
 }
  100% {
    transform: translateX(calc((-160px * 23) + 100vw - min(100%, 68ch)));
 }
}
.slider {
  margin: 1.5rem 0 3rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70px;
}
.slider::before, .slider::after {
  content: "";
  position: absolute;
  height: 100%;
  z-index: 2;

  /* Some magic to make the elements fade in after the body margin */
  background-image: linear-gradient(-90deg, #00000000, var(--background-color) 2rem);
  width: max(5px, 50% - 34ch + 2rem);
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  position: absolute;
  z-index: 1;
  left: min(5px, -50% + 34ch);
}
</style>
<div class="slider">
    <div class="slide-track"> 
        <AstroSliderObj />
        <SliderObj icon="devicon-nextjs-original" text="NextJS" />
        <SliderObj icon="devicon-react-original" text="React" />
        <SliderObj icon="devicon-javascript-plain" text="Javascript  " />
        <SliderObj icon="devicon-typescript-plain" text="Typescript" />
        <SliderObj icon="devicon-mongodb-plain" text="MongoDB" />
        <SliderObj icon="devicon-graphql-plain" text="GraphQL" />
        <SliderObj icon="devicon-python-plain" text="Python" />
        <SliderObj icon="devicon-flask-original" text="Flask" />
        <SliderObj icon="devicon-html5-plain" text="HTML5" />
        <SliderObj icon="devicon-css3-plain" text="CSS3" />
        <SliderObj icon="devicon-bootstrap-plain" text="Bootstrap" />
        <SliderObj icon="devicon-git-plain" text="Git" />
        <SliderObj icon="devicon-nodejs-plain" text="NodeJS" />
        <SliderObj icon="devicon-c-plain" text="ANSI C" />
        <SliderObj icon="devicon-rust-plain" text="Rust" />
        <SliderObj icon="devicon-raspberrypi-line" text="Raspberry Pi" />
        <SliderObj icon="devicon-java-plain" text="Java" />
        <SliderObj icon="devicon-php-plain" text="PHP" />
        <SliderObj icon="devicon-composer-line" text="Composer" />
        <SliderObj icon="devicon-jupyter-plain" text="Jupyter" />
        <SliderObj icon="devicon-figma-plain" text="Figma" />
        <SliderObj icon="devicon-trello-plain" text="Trello" />
    </div>
</div>